<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <title>{% block title %}MSF!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header>
        header
        <hr>
    </header>

    {% block navigation %}
            <ul>
                <li><a href="{{ path('msf_homepage') }}">Home</a></li>
                <li><a href="{{ path('msf_welcome') }}">Welcome</a></li>
                <li><a href="#">My Espace membre</a>
                    <ul>
                        <li><a href="{{ path('inscription') }}"> inscription</a></li>
                        <li><a href="{{ path('connexion', { 'ids':01 }) }}">Connexion</a>
                    </ul>
                </li>
                <li><a href="#">Catalogue</a></li>
                <li><a href="{{ path('msf_blog') }}">Le blog</a>
                    <ul>
                        <li><a href="{{ path('msf_blog_event')~ '.html' }}">Nos Évènements</a></li>
                        <li><a href="{{ path('msf_blog_avis') }}">Vos témoignages</a></li>
                    </ul>
                </li>

            </ul>
    {% endblock %}


    <div class="container">


        {% block body %}{% endblock body %}
    </div>
        {% block javascripts %}{% endblock javascripts %}

    <hr>
    <footer>
footer
    </footer>
    </body>
</html>
