{% extends "::layout/Layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">
            {% include "::layout/modulesUsed/nav.html.twig" %}
            </div>

            <div class="span9">

                {% for produit in produits %}
                    <section>
                        <ul class="thumbnails">
                            <li class="span3">{{ produit.nom }}
                            {{ produit.Categorie }} <br>
                            {{ produit.Description }} <br>
                            {{ produit.Disponible }} <br>
                            {{ produit.Image }} <br>
                            </li>
                            <li class="span6">
                                <div class="caption">
                                    <img src="{{asset(produit.Image)  }}" alt="MSF" width="300" height="300">
                                </div>
                            </li>
                            <li class="span3">{{ produit.PrixHt }} , {{ produit.Tva }}
                            </li>
                        </ul>
                    </section>
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}